.navbar-default {

  background-color: white;
  padding: 8px;

  .navbar-brand {
    color: black;
    font-family: serif;
    font-size: 40px;
  }

  .navbar-right {

  }
}

.background-main {
  background: url(/images/hallway.jpeg) no-repeat center center;
  height: 800px;
  background-size: cover;
}
