<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<% include ../partials/navbar %>

<section class="about1">
  <div class="container-fluid nord">
    <div class="row">

    </div>
  </div>
</section>

<footer>
  <% include ../partials/footer %>
  <script src="/controllers/scrollmagic.js"></script>
</footer>
</body>
</html>
