<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<% include ../partials/navbar %>

<section class="about1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 nord-god-info">
        <div class="row">
          <div class="col-lg-4 nord-god-left">
            <img src="/images/nord-god2.png" class="nord-god-image">
          </div>
          <div class="col-lg-8 nord-god-right">
            <div class="nord-god-text">
              <p id="nord-god-quote1"><span id="fancy-letter">"H</span>ail to you, Freyr,</p>
              <p id="nord-god-quote2">who teaches how to enjoy the riches of the earth</p>
              <p id="nord-god-quote3">and the joys of the heart"</p>
              <br>
              <p id="about-text-1">Hello. We are a team of designers and architects who have devoted our time and skills to create luxurious, elegant, and powerful basins. We approach each project with one final goal - would it be worthy of a god.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>