<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>

<!-- Navbar -->
<% include ../partials/navbar %>

<!-- Map -->
<div id="map"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <% include ../partials/footer %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC6gUam7oYuxEHzx0Adjvq-FgAHonzvbs&callback=initMap"
 async defer></script>
 <script src="/controllers/current_locations.js"></script>
</footer>
</body>
</html
