<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<!-- Navbar -->
<% include ../partials/navbar %>

<!-- Header -->
<% include ../partials/header %>

<section class="divider1">
  <div class="container text-area">
    <div class="row">
      <div class="col-lg-12">
        <h1>THE FREYR DESIGN</h1>
        <p>Lorem ipsum dolor sit amet, eget turpis tellus, maecenas est. Id id sapien. Sit platea massa, cursus orci dolor diam eu vel ligula. Pede nonummy nunc orci, mauris urna ut, luctus lectus quam eros enim vehicula eget, cursus sodales aliquet placerat cras lectus</p>
        <hr class="seperator">
      </div>
    </div>
  </div>
  <div class="container section1">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 about-us">
        <div class="img-responsive about-us-image"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 current-projects">
        <div class="img-responsive current-image">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider2">
  <div class="row">
    <div class="container">
      <div class="col-md-8 col-lg-8 your-project-text">
        <h1>Your Dream - Your Design</h1>
        <h3>We Help You Acheive It</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, sed ante, eu eget eget vitae. Non dis, aenean proin nunc consequat turpis, non donec nunc ultrices sed curabitur, pharetra mi tellus, erat mauris ultricies. Ornare elementum lorem wisi, in odio dictumst, justo justo aut orci. Eos velit morbi ut quam.</p>
      </div>
      <div class="col-md-4 col-lg-4 your-project-image">
        <img src="/images/design-tool.svg" width="150" height="205" />
      </div>
    </div>
  </div>
</section>

<section class="divider3">
  <div class="row">
    <div class="container">
      <div class="col-md-4 col-lg-4 life-after-image">
        <img src="/images/list.svg" width="186" height="235" />
      </div>
      <div class="col-md-8 col-lg-8 life-after-text">
        <h1>Life After Freyr</h1>
        <h3>We Take Care Of You - Before and After</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, sed ante, eu eget eget vitae. Non dis, aenean proin nunc consequat turpis, non donec nunc ultrices sed curabitur, pharetra mi tellus, erat mauris ultricies. Ornare elementum lorem wisi, in odio dictumst, justo justo aut orci. Eos velit morbi ut quam.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>