<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<!-- Navbar -->
<% include ../partials/navbar %>

<!-- Header -->
<% include ../partials/header %>

<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>